*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* border: 1px solid green */
    
    width: 100%;
    height: 100%;
    background: rgb(11, 11, 11);
    font-family: "Bebas Neue", sans-serif;

}
main {
    width: 100%;
    height: 100%;
}

.cards {
    border: 1px solid rgb(151, 0, 0);
    min-width: 300px;
    max-width: 1200px;
}

.card {
    width: 200px;
    display: flex;
    align-items: center;
    border: 5px solid rgb(151, 0, 0);
    border-radius: 20px;

}
.card img {
    width: 100%;
    border-radius: 20px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1 {
    color: rgb(151, 0, 0)
}

footer {
    text-align: center;
    color: rgb(151, 0, 0)
}